<div class="form-container">
    <div class="form">
        <h1>
            <translation id="login"></translation>
        </h1>
        <app-input [placeholder]="translationModule.getTranslation('username')" icon="username" [(value)]="username" (valueChange)="checkValues()" autofocus></app-input>
        <app-input [placeholder]="translationModule.getTranslation('password')" icon="password" type="password" [(value)]="password" (valueChange)="checkValues()"></app-input>
        <icon-text icon="error" *ngIf="!userExists">
            <translation id="userNotFound"></translation>
        </icon-text>
        <icon-text icon="error" *ngIf="passwordWrong">
            <translation id="passwordWrong"></translation>
        </icon-text>
        <app-button icon="login" [disabled]="submitDisabled || loginButtonLoader" [loader]="loginButtonLoader" (click)="login()">
            <translation id="login"></translation>
        </app-button>
    </div>
</div>