<div class="content">
    <div class="actions">
        <app-button fill="accent" icon="add" routerLink="/object/new">
            <translation id="createObject"> </translation>
        </app-button>
        <app-button fill="background" icon="repo-settings" routerLink="/repo-settings">
            <translation id="repoSettings"> </translation>
        </app-button>
        <app-button fill="background" icon="settings" routerLink="/settings">
            <translation id="settings"> </translation>
        </app-button>
    </div>
    <div class="latest-objects">
        <h1>
            <translation id="latestObjects"></translation>
        </h1>
    </div>
</div>