<div class="drop-zone" [ngClass]="{ dragover: dragover, empty: attachments.length == 0 }" (dragenter)="dragover = true" (dragleave)="dragover = false" (drop)="dropHandler($event)" (dragover)="$event.preventDefault()">
    <app-attachment-editor *ngFor="let attachment of attachments" [fileObject]="attachment" [createNew]="true" (attachmentDataChange)="updateAttachmentData($event)"></app-attachment-editor>
    <div class="placeholder" *ngIf="attachments.length == 0">
        <app-icon id="upload"></app-icon>
        <span>
      <translation id="uploadZoneHint"></translation>
    </span>
    </div>
    <label for="fileInput"><app-button icon="attachment" fill="accent"
      ><translation id="addAttachment"></translation></app-button
  ></label>
    <input type="file" id="fileInput" #fileInput (change)="addFile()" multiple="true" />
</div>