@import "src/globals.scss";
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include box;
    transition: 0.2s;
    border-radius: $input-border-radius;
    padding: 0 $input-padding;
    gap: $input-gap;
    .icon {
        height: $input-icon-size;
        fill: $root-color;
    }
    input {
        padding: $input-padding 0;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        &,
        &::placeholder {
            color: $root-color;
            @include default-font;
        }
        &::placeholder {
            opacity: $input-placeholder-opacity;
        }
    }
    &:invalid:not(:focus) {
        border: red solid;
    }
}
