@import "src/globals.scss";
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include box;
    transition: 0.2s;
    border-radius: $input-border-radius;
    gap: $input-gap;
    padding-left: $input-padding;
    width: max-content;
    .icon,
    .text-container .expand-arrow {
        height: $input-icon-size;
        fill: $root-color;
    }
    .text-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: $input-padding;
    }
    input,
    .value-container,
    textarea {
        padding: $input-padding 0;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        resize: none;
        &,
        &::placeholder {
            color: $root-color;
            @include default-font;
        }
        &::placeholder {
            opacity: $input-placeholder-opacity;
        }
    }
    &:invalid:not(:focus) {
        border: red solid;
    }
    .dropdown-menu {
        position: absolute;
        @include box;
        padding: $input-padding;
        display: none;
        flex-direction: column;
        gap: $input-padding;
        border-radius: $input-border-radius;
        min-width: 100%;
        top: $input-dropdown-menu-top;
        right: 0;
        width: max-content;
        span {
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    &.dropdown:focus-within .dropdown-menu {
        display: flex;
    }
    &.dropdown {
        cursor: pointer;
    }
}
