<div class="creation-form">
    <div class="label-input-container">
        <label><translation id="name"></translation
      ><span class="info-text"><translation id="nameHint"></translation></span
    ></label>

        <app-input type="text" icon="object-name"></app-input>
    </div>
    <div class="label-input-container">
        <label><translation id="description"></translation
      ><span class="info-text"
        ><translation id="descriptionHint"></translation></span
    ></label>
        <app-input type="textarea" style="height: 10rem"></app-input>
    </div>
    <app-button icon="add">
        <translation id="createObject"></translation>
    </app-button>
</div>
<div class="mobile-notice">
    <h1>
        <translation id="actionNotAvailable"></translation>
    </h1>
    <i><translation id="notAvailableOnMobile"></translation></i>
</div>