<div class="creation-form">
    <h1>
        <translation id="createObject"></translation>
    </h1>
    <div class="label-input-container">
        <label><translation id="identifier"></translation
      ><span class="info-text"
        ><translation id="identifierHint"></translation></span
    ></label>
        <app-input type="text" icon="123" autofocus></app-input>
    </div>
    <div class="label-input-container">
        <label><translation id="category"></translation>
      <span class="info-text"
        ><translation id="categoriesInfoText"></translation
      ></span>
    </label>
        <app-input type="dropdown" [choices]="categoryChoices" icon="category" [(value)]="objectCategory"></app-input>
    </div>
    <div class="label-input-container">
        <label><translation id="name"></translation
      ><span class="info-text"><translation id="nameHint"></translation></span
    ></label>

        <app-input type="text" icon="object-name"></app-input>
    </div>
    <div class="label-input-container">
        <label><translation id="description"></translation
      ><span class="info-text"
        ><translation id="descriptionHint"></translation></span
    ></label>
        <app-input type="textarea" style="height: 10rem"></app-input>
    </div>
    <section class="attachments">
        <h1>
            <translation id="attachments"></translation>
        </h1>
        <app-attachment-drop-zone></app-attachment-drop-zone>
    </section>
    <app-button icon="add">
        <translation id="createObject"></translation>
    </app-button>
</div>
<div class="mobile-notice">
    <h1>
        <translation id="actionNotAvailable"></translation>
    </h1>
    <i><translation id="notAvailableOnMobile"></translation></i>
</div>