@import "src/globals.scss";
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .form {
        gap: $standard-padding;
        display: flex;
        flex-direction: column;
        min-width: 50vw;
        .info-text {
            max-width: 100% !important;
        }
    }
}