<div class="flex-container">
    <div class="form">
        <h1>
            <translation id="passwordResetTitle"></translation>
        </h1>
        <app-input type="password" [placeholder]="translationModule.getTranslation('newPassword')" [(value)]="newPassword" (valueChange)="validatePassword()" icon="password"></app-input>
        <app-input type="password" [placeholder]="translationModule.getTranslation('newPasswordRepeat')" [(value)]="newPasswordRepetition" (valueChange)="validatePassword()" icon="password" (enter)="changePasswords()"></app-input>
        <div class="info-text" *ngIf="passwordRepeatWrong">
            <translation id="passwordsNotEqual"></translation>
        </div>
        <app-button icon="save" [disabled]="!passwordsValid" [loader]="savingPassword" (click)="changePasswords()">
            <translation id="save"></translation>
        </app-button>
    </div>
</div>
