@import "src/globals.scss";
.main-header {
    display: grid;
    width: 100vw;
    height: max-content;
    grid-template-columns: max-content auto max-content;
    padding: $header-padding;
    nav,
    div {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: $standard-padding;
    }
    * {
        grid-row: 1/1;
    }
}

nav.left {
    grid-column: 1/2;
}

.logo-container {
    grid-column: 2/3;
}

nav.right {
    grid-column: 3/3;
}

nav {
    @include desktop-only;
}
