@import "src/globals.scss";
.background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 94;
    .window {
        background-color: $root-bg;
        border-radius: $standard-border-radius;
        padding: $standard-padding;
        display: grid;
        grid-template-rows: max-content max-content;
        gap: $standard-padding;
        min-width: 25vw;
        height: max-content;
        max-width: calc(100vw - $standard-padding);
        max-height: calc(100vh - $standard-padding);
        .titlebar {
            display: grid;
            grid-template-columns: auto max-content;
            gap: $standard-padding;
            app-icon {
                fill: white;
                height: 24px;
            }
            app-icon.close {
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .window-content {
            overflow: auto;
            height: max-content;
        }
    }
}