<div class="attachment-container" [ngSwitch]="createNew">
    <div class="fiv-viv file-icon" [ngClass]="fileIconClass"></div>
    <section class="info">
        <p>{{ fileObject.name }}</p>
        <div class="small">
            <span>{{ readableFileSize }}</span>
            <span>∙</span>
            <span>{{ round(uploadPercentage) }} %</span>
        </div>
    </section>
    <app-input type="text" [placeholder]="translationModule.getTranslation('name')" class="name"></app-input>
    <app-input type="dropdown"></app-input>
    <app-button icon="upload" *ngSwitchCase="true">
        <translation id="upload"></translation>
    </app-button>
    <div class="progress-bar-container">
        <div class="progress-bar" [ngStyle]="{ width: uploadPercentage + '%' }"></div>
    </div>
</div>